<!-- templates/base.html -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>{% block title %}Dashboard{% endblock %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='dashboard.css') }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&display=swap" rel="stylesheet">
</head>
<body>

  <aside class="sidebar">
    <h2 class="logo">MediVerse</h2>
    <nav>
      <a href="/faculty_dashboard"><i class="fa fa-home"></i> Dashboard</a>
      <a href="/faculty_courses"><i class="fa fa-book"></i> Courses</a>
      <a href="/upload_grades"><i class="fa fa-upload"></i> Upload Grades</a>
      <a href="/manage_attendance"><i class="fa fa-calendar-check"></i> Attendance</a>
      <a href="/faculty_notices"><i class="fa fa-bell"></i> Notices</a>
      <a href="/faculty_support"><i class="fa fa-life-ring"></i> Support</a>
      <a href="/student_reports"><i class="fa fa-file-alt"></i> Student Reports</a>
      <a href="/logout"><i class="fa fa-person-shelter"></i> Logout</a>
    </nav>
  </aside>

  <main>
    {% block content %}{% endblock %}
  </main>

</body>
</html>
